body {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

button {
    width: 80px;
    height: 30px;
    margin: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.roundResults {
    border: solid, 2px, darkslateblue;
}

.scoreCard {
    border: solid, 2px, darkslateblue;
}