body {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;

}

.choiceButton {
    width: 80px;
    height: 30px;
    background-color: darkslateblue;
    border-radius: 5px;
    border: solid, 2px, white;
    color:white;
    font-weight: bold;

}

.replayButton {
    width: 100px;
    height: 50px;
    background-color: darkslateblue;
    border-radius: 5px;
    border: solid, 2px, white;
    color:white;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    max-width: 500px;
}

.losingMessage, .winningMessage {
    display: block;
    margin-top: 100px;
}